.App {
  @include animation(fadeIn);
  min-width: 1200px;
}

.App-Content {
  padding: 120px 40px 80px;
  max-width: 1280px;
  margin: auto;
}

.App-Fething {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  color: $color_white;
  right: 12px;
  bottom: 12px;
  border-radius: 50%;
  background-color: $color_primary;
  width: 40px;
  height: 40px;
  padding: 0;
  z-index: 10000;
}
