.App {
  @include animation(fadeIn);
}

.App-Content {
  padding: 120px 40px 80px;
  max-width: 1280px;
  margin: auto;
  @include md {
    padding: 96px 20px 60px;
  }
}

.App-Fething {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  color: $color_white;
  right: 12px;
  bottom: 12px;
  border-radius: 50%;
  background-color: $color_primary;
  width: 40px;
  height: 40px;
  padding: 0;
  z-index: 10000;
}

.Snackbar-Close {
  @include xs {
    display: none;
  }
}
