.Product-Content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  @include md {
    gap: 24px;
  }
  @include sm {
    grid-template-columns: auto;
  }
}

.Product-Image {
  object-fit: contain;
  width: 100%;
  max-height: 600px;
}

.Product-Rating {
  padding-top: 2px;
  font-size: $fs-md;
  color: $color_grey;
}

.Product-TitleSkeleton {
  height: 52px;
  margin-bottom: 48px;
  @include md {
    height: 40px;
    margin-bottom: 36px;
  }
}

.Product-ImageSkeleton {
  height: 500px;
  @include md {
    height: 400px;
  }
  @include xs {
    height: 360px;
  }
}
