.Products-List {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  @include lg {
    grid-template-columns: repeat(3, 1fr);
  }
  @include md {
    grid-template-columns: 1fr 1fr;
  }
  @include sm {
    grid-template-columns: auto;
  }
}
