.Price {
  line-height: 1;
  color: $color_primary;
  font-weight: 700;
  font-size: $fs-lg;
  &_large {
    font-size: $fs-xl;
  }
  @include md {
    font-size: $fs-md;
    &_large {
      font-size: $fs-lg;
    }
  }
}
